html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  text-transform: none;
  font-style: normal;
}

*,
::before,
::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

:root {
  --main-background-color: #f9f9f9;
  --minor-background-color: #f3f5fa;
  --footer-background-color: #2f303a;
  --section-background-color: #ffffff;
  --main-button-color: #2196f3;
  --minor-button-color: #f5f4fa;
  --main-text-color: #212121;
  --minor-text-color: #757575;
  --contrast-text-color: #ffffff;
  --selected-text-color: #2196f3;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --white: rgb(0, 0, 0);
  --icons-primary-color: #afb1b8;
  --icons-lines-color: #212121;
  --icons-contrast-color: #2196f3;
  --icons-background-color: #f5f4fa;
}

/*font-family: 'Oleo Script', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/

/*header*/

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0px auto 0px auto;
}

header .container,
footer .container {
  padding-top: 0px;
  padding-bottom: 0px;
}

header .container {
  background-color: var(--section-background-color);

  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

header .logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  display: flex;
  margin-right: 93px;
}

header .logo-contrast {
  color: var(--selected-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.navigation {
  display: flex;
}

.navigation li {
  display: flex;
}

.navigation li:not(:last-child) {
  margin-right: 50px;
}

.navigation a {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation a:hover,
.navigation a:focus,
.navigation a:active {
  color: var(--selected-text-color);
}

.navigation .active .current-link {
  color: var(--selected-text-color);
  position: relative;
  display: block;
}

.navigation .active .current-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  height: 4px;
  width: 100%;
  background-color: var(--selected-text-color);
  border-radius: 4px;
}

header address {
  display: flex;
  margin-left: auto;
  font-family: Roboto, sans-serif;
}

header address ul {
  display: flex;
}

header address li {
  display: flex;
}

header address li:not(:last-child) {
  margin-right: 50px;
}

header address a {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--minor-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
}

header address a:hover,
header address a:focus,
header address a:active {
  color: var(--selected-text-color);
}

.mail {
  width: 16px;
  height: 12px;
  fill: currentColor;
}
.tel {
  width: 10px;
  height: 15px;
  fill: currentColor;
}

.icon-header {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
/*main*/

/*hero*/

.hero {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: var(--contrast-text-color);

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  padding-top: 200px;
}

.hero .main-button {
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  background-color: var(--main-button-color);
  color: var(--contrast-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--main-button-color);

  margin-top: 30px;
  width: 200px;
  height: 50px;
  margin-bottom: 200px;
}
.backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  width: 528px;

  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal b {
  display: inline-block;
  margin-bottom: 12px;
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.modal .exit-btn {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--white-color);

  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .exit-btn:hover,
.modal .exit-btn:focus {
  color: #2196f3;
  cursor: pointer;
}

.exit-btn .icon {
  margin: auto;
  fill: currentColor;
}

.name-form .input-block {
  position: relative;
}

.name-form .icon-input {
  margin-left: 12px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.general-form {
  margin: auto;
  width: 448px;
}

.general-form .name-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
}

.name-form label {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.185;

  letter-spacing: 0.01em;

  color: #757575;
}

.name-form .data {
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  width: 100%;
}

.data:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.data:focus + .icon-input {
  fill: var(--accent-text-color);
}

.name-form .data.area {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.name-form .data.area::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.checkbox-label {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--primari-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-custom-box {
  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url(../images/icon-check-off.svg);
  fill: #212121;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-text {
  display: inline-flex;
}

.checkbox-input:checked + .checkbox-custom-box {
  background-image: url(../images/icon-check-on.svg);
  background-size: contain;
  cursor: pointer;
  background-repeat: no-repeat;
}

.checkbox-input:focus + .checkbox-custom-box {
  box-sizing: content-box;
  border-radius: 4px;
}

.checkbox-label a {
  color: var(--accent-text-color);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.modal .form-btn {
  padding: 10px 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal .close-button {
  margin-top: 8px;
  margin-right: 8px;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--main-background-color);
  background-image: url(../images/close-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
/*section advantages*/

.advantages {
  font-family: Roboto;
  letter-spacing: 0.03em;
  box-sizing: content-box;
  padding-top: 94px;
}

.advantages .container {
  padding-bottom: 0;
}

.advantages ul {
  display: flex;
  justify-content: center;
}

.advantages li:not(:last-child) {
  margin-right: 30px;
}
.advantages h2 {
  color: var(--section-background-color);
}

.advantages h3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.advantages p {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  color: var(--minor-text-color);
  width: 270px;
}

.icon {
  width: 70px;
  height: 70px;
}
.advantages-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;

  background-color: var(--minor-button-color);
  border-radius: 4px;
  margin-bottom: 30px;
  margin-right: 30px;
}

/*section services*/

.services {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

  padding-top: 14px;
}

.services-list {
  display: flex;
  justify-content: center;
  position: relative;
}

.services-description {
  position: absolute;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  padding-top: 200px;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  bottom: 25%;

  color: var(--contrast-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0px 27px 0px;
  width: 370px;
}
.services-item:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 94px;
}

h4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 50px;
  padding-top: 94px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/*section team*/

.team {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--minor-background-color);
}

.team ul {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.team-item {
  margin-right: 30px;
  background-color: var(--section-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
  margin-right: 0;
}

.team h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  color: var(--main-text-color);
  padding-top: 30px;
  padding-bottom: 10px;
}

.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  color: var(--minor-text-color);
  padding-bottom: 30px;
}

.sm {
  display: flex;
}

.sm .sm-link:hover,
.sm .sm-link:focus,
.sm .sm-link:active {
  background-color: var(--icons-contrast-color);
  color: var(--main-background-color);
}

.sm-item .sm-link:last-child {
  margin-right: 0;
}

.sm-item .sm-link {
  display: flex;
  height: 44px;
  width: 44px;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
  color: var(--icons-primary-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.sm-item a:hover,
.sm-item a:focus,
.sm-item a:active {
  
}*/

.sm-icon {
  height: 20px;
  width: 20px;
  margin-left: auto;
  margin-right: auto;
  fill: currentColor;
}

footer .sm-item .sm-link {
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

footer .sm-item:not(:last-child) {
  margin-right: 10px;
}

footer .sm {
  display: flex;
}

/*.sm {
  display: flex;
}
.sm-item:hover,
.sm-item:focus,
.sm-item:active {
  background-color: var(--icons-contrast-color);
}
.sm .team .sm {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
}
.sm-item {
  display: flex;
  width: 44px;
  height: 244px0px;
  fill: var(--icons-primary-color);
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}
.sm-icon:last-child {
  margin-right: 0;
}
footer .sm-item {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--section-background-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
}
.sm-item:hover,
.sm-item:focus,
.sm-item:active {
  background-color: var(--icons-contrast-color);
  fill: var(--section-background-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
}
.sm-icon {
  height: 20px;
  width: 20px;
  margin-right: auto;
  margin-left: auto;
}
.sm a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
*/

/*clients-section*/

.clients {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 94px;
}

.clients-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icons-primary-color);
  border-radius: 4px;
}

.clients-item {
  margin-right: 30px;
  fill: var(--icons-primary-color);
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-link {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--icons-contrast-color);
  border-color: var(--icons-contrast-color);
}

/*footer*/

footer {
  background-color: var(--footer-background-color);
}
.footer-items {
  align-items: baseline;
  padding-top: 60px;
}

.footer-items a {
  color: var(--footer-adress-color);
}

.page-footer {
  align-items: baseline;
  margin-left: 70px;
}

footer .logo {
  font-family: Raleway;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--contrast-text-color);
}

footer .logo-contrast {
  color: var(--selected-text-color);
}

.footer-items {
  display: flex;
}
.footer-items ul {
  align-items: baseline;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--contrast-text-color);

  margin-top: 20px;
  padding-bottom: 60px;
}
.footer-items li:not(:last-child) {
  margin-bottom: 9px;
}

h6 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  font-style: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--contrast-text-color);
  margin-bottom: 20px;
}
.subscription {
  margin-top: 12px;
  margin-left: 93px;
  width: 570px;
  height: 86px;
}

.subscription b {
  margin-bottom: 20px;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.subscription .email {
  display: block;
  margin-right: 12px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: var(--white-color);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscription .email::placeholder {
  font-style: 400;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;

  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscription .sub-button {
  display: flex;
  width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  justify-content: center;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscription .input-sub {
  display: flex;
}

.subscription .sub-button::after {
  content: "";
  display: block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
}

/*portfolio*/

/*buttons*/

.portfolio {
  font-family: Roboto, sans-serif;
}

.buttons-list {
  display: flex;
  margin-top: 94px;
  justify-content: center;
  padding-bottom: 50px;
}

.buttons-list li {
  margin-right: 8px;
}

.buttons-list li:last-child {
  margin-right: 0;
}

.buttons-item {
  margin: 0;
  padding: 6px 22px;
  height: 38px;
  letter-spacing: 0.03em;
  line-height: 1.625;
  font-size: 16px;
  font-weight: 500;
  text-align: center;

  border-radius: 4px;
  border: 0;
  color: var(--main-text-color);
  background-color: var(--minor-button-color);
  font-style: Roboto;
  font-size: 16px;
  line-height: 1.63;
  font-style: normal;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-item:hover,
.buttons-item:focus,
.buttons-item:active {
  color: var(--contrast-text-color);
  background-color: var(--main-button-color);
}

/*projects*/

.project {
  padding-top: 50px;
  padding-bottom: 94px;
}
.portfolio {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio .buttons {
  display: flex;
  justify-content: center;
}

.portfolio .buttons .item {
  margin: 0;
  padding: 6px 22px;
  letter-spacing: 0 03em;
  line-height: 1.62;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .buttons .item:hover,
.portfolio .buttons .item:focus,
.portfolio .buttons .item:active {
  color: var(--contrast-text-color);
  background-color: var(--main-button-color);
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.projects-item {
  width: calc((100% - 60px) / 3);

  background-color: var(--section-background-color);

  list-style-type: none;
}

.projects-content {
  display: block;
  background-color: var(--section-background-color);
  border: 1px solid #eeeeee;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-content:hover,
.projects-content:focus {
  background-color: var(--section-background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  border: 1px solid #eeeeee;
}

.projects-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.projects-item img {
  display: block;
}
.projects-discription {
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 24px;
}

h2 {
  visibility: hidden;
}

.projects h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0 06em;
  color: var(--main-text-color);
}

.projects p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0 03em;
  color: var(--minor-text-color);
  margin: 0;
}

.projects-item .outline p {
  background-color: var(--main-button-color);
  color: var(--contrast-text-color);
  padding: 24px 63px 24px 63px;
  margin: 0;
}

.projects-image {
  position: relative;
  overflow: hidden;
}

.projects-image .outline {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  border: 1px solid #eeeeee;

  visibility: hidden;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:hover .outline {
  transform: translateY(0);
  visibility: visible;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-content:focus .outline {
  transform: translateY(0);
  visibility: visible;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
